body{
    margin: auto;
}

nav{
    background-color: grey;

  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
  }

  .color{
      background-color: lightgrey;
  }
  
  .carousel{
    height: 300px;
    background-color: lightgrey;
  }
  
  .fellows{
      text-align: center;
      margin: 50px;
  }

  #container{
      width: 100%;
  }

  #fellowsPictures {
    color: lightgrey;
    background-color: lightgrey;
    width:33.19%;
    height:300px;
    display: inline-block;

  }
  
  form h2{
      margin: 50px;
      padding-top: 10px;
      border-top: 2px solid black;
  }
  
  input, textarea{
      width: 85%;
      display: block;
      margin: 5px 70px 5px 70px;
  }